.centerText{
    text-align:center;
}
.mainText{
    font-size:1.2em;
}
.masterPassImg{
    display:table-cell;
    vertical-align:middle;
    margin:auto;
    margin-bottom:10px;

}
.termsList{
    list-style:none;
}
.termsList li{
    padding-bottom:10px;
}

.sinnUpbtn{
    color:#fff;
    margin:25px 0 15px 0;
}
img.masterpassbuy {
    width: 180px;
}

/*Changes for Registration form */

.detailsHeading{
    font-size:1.2em;
}
.container-head{
    border-bottom: 1px solid #D1D1D1;
    margin-bottom:5px;
}
.progress-charm{
   background: url('assets/images/progress-indicator-sprite.png') no-repeat 0 0;
	width: 77px;
	height: 22px;
    background-color:#ffa500;
}
.nextProgress{
    background-position:0 -22px;
}
.personalDetailsContainer, .securityContainer{
    margin:15px 0;
}
.container input[type="text"], .container input[type="email"], .container input[type="password"], .container select{
	padding: 10px 2%;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    box-shadow: 0 3px 5px #e8e8e8 inset;
    transition: box-shadow linear 200ms,border-color linear 200ms,color linear 200ms;
    margin: 5px 6px;
    width: 90%;		
}
.container label, .labelName{
    margin-left:5px;
    width:100%;
}
.multi-field-wrap{
    width:100%;
    margin:5px 0;
}
.halfwidth{
    width:48%;
    margin-right:2%;
}
.container input[type="text"]:focus, .container input[type="email"]:focus, .container input[type="password"]:focus{
    border: 1px solid #78c4f8;
    box-shadow: 0 3px 5px #e8e8e8 inset, 0 0 5px #78c4f8;
    outline: 0;
}
.secQnNote{
    font-weight: normal;
    color: #969696;
    margin: 3px 0;
    line-height: 20px;
}
.mar-sm{
    margin:10px;
}